* {
  line-height: 140%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

body {
  padding: 20px;
}

p {
  line-height: 140%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

label {
  line-height: 140%;
  font-family: 'Karla', sans-serif;
  color: #6699CC;
  font-size: 28px;
  font-weight: 700;
  margin: 10px;
}

input {
  color: #111;
  /*font-family: 'Karla', sans-serif;
  font-size: 16px;*/
  padding: 5px;
  margin: 10px;
}

button {
  color: #000000;
  padding: 5px;
  margin: 10px;
  border: 0;
  background-color: #E8E8E8;
}

#things button {
  font-size: 12px;
  margin: 10px;
}

ul {
  padding: 15px;
  line-height: 140%;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-style: italic;
}

ul li {
  margin-right: 15px;
}

#total {
  padding: 10px 5px 10px 15px;
  font-weight: 700;
}
